
    <style>
    .wrap {
        text-align: center;
        font-family: 'Nanum Myeongjo', serif;
    }

    .container {
        width: 1020px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
</style>